<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Composer testing</title>
</head>
<body>
    <h1>{{ greatings }}</h1>

    <div>
        <span>Текущее время и дата: </span>
        <span>{{ date }}</span>
    </div>

    <div>
        <span>Ваш ip адрес:</span>
        <span>{{ user_ip }}</span>
    </div>
</body>
</html>